.content h2{
    text-align: center;
    margin-top: 30px;
    display: flex;
    justify-content: space-evenly;

}

.content p{
    margin-left: 10px;
}

.mcontent{
    width: 500px;
    margin-left: 8.5rem;
    margin-top: 120px;
}

.foto1{
    float: right;
    margin-top: -115px;
    margin-right: 8.5rem;
}

.foto2{
margin-left: 9rem;
margin-top: 60px;

}

.mcontent1{
    width: 500px;
    margin-left: 8.5rem;
    margin-top: 80px;
}

.mcontent2{
    width: 735px;
    margin-top: 110px;
    text-align: center;
    float: right;   
    margin-right: 2.5rem;
}

